.browser
  :display table
  :padding 1px
  & > div
    &:last-child
      margin-bottom: 0
  .browser_row
    :display table-row
  .browser_col
    :display table-cell

.hex
  :margin 5px 4px 0px 5px
  :display table
  :border 2px solid #cccccc
  :background #e5e5e5
  +rounded("4px")
  &:hover
    :border 2px solid #c8c8c8
    :background #aaaaaa

.hex_small
  :margin 3px 2px 0px 3px
  :display table
  :border 2px solid #cccccc
  :background #e5e5e5
  +rounded("4px")
  &:hover
    :border 2px solid #bababa
    :background #aaaaaa

.hex_image
  :width 128px
  :margin 10px 10px 7px 10px
  img
    :width 128px
    :height 16px

.hex_image_small
  :margin 4px 4px 4px 4px
  :width 56px
  :line-height 0.75
  img
    :width 56px
    :height 7px

.hex_detail
  :margin 10px 

.preview
  :display table
  :width 100%
  :height 100%
  :padding 2px
  h2
    :text-decoration underline
    :font-weight bold

.trigram
  :display table-row
  :border 2px solid #c8c8c8
.trigram_name
  :display table-cell
.trigram_image
  :display table-cell
  :width 64px
  :line-height 1
  img
    :width 64px
    :height 8px

.synopsis
  ul, li
    :display inline
    :text-align center
  a
    :text-transform lowercase
    :font-weight bold
    :font-style italic
    :text-decoration none
    :color #000000
  
.detail 
  h3
    :font-weight bold

.section_synopsis
  :margin-bottom 4px
  :border 2px solid #cccccc
  :background #e5e5e5
  +rounded("4px")
.section_judgement
  :margin-bottom 4px
  :border 2px solid #cccccc
  :background #e5e5e5
  +rounded("4px")
.section_image
  :margin-bottom 4px
  :display none
  :border 2px solid #cccccc
  :background #e5e5e5
  +rounded("4px")
.section_lines
  :margin-bottom 4px
  :display none
  :border 2px solid #cccccc
  :background #e5e5e5
  +rounded("4px")

.detail
  :margin 4px
