.browser
  - @chessboard.each do |x| 
    .row
      - x.each do |y|
        .col
          .images_small
            %a{ :href => "/hex/#{y}" }
              = Haml::Engine.new(Hagbard::HexaGram.new(:number => "#{y}").to_haml).render
